:root {
    --brown: #4F3501;
    --white: #FFFFFF;
    --yellow: #CDA435;
}

body{
    height: 100vh;
}

header {
    background-color: var(--brown);
    display:grid;
    height: 8vh;
    text-align: right;
}

.whitetxt{
    color:var(--white);
    text-decoration:none;
}

.browntxt{
    color:var(--brown);
}

.yellowtxt{
    color:var(--yellow);
}

.goofymessage {
    background-color: var(--white);
    height: 84vh;
}

.flexrow{
    display: flex;
    flex-direction: row;
    flex-wrap: false;
}

footer {
    background-color: var(--brown);
    height:8vh;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 8% 84% 8%;
}

/* https://cssgridgarden.com/ */
/* https://css-tricks.com/snippets/css/complete-guide-grid/ */