:root {
    --brown: #4F3501;
    --white: #FFFFFF;
    --yellow: #CDA435;
}

header {
    background-color: var(--brown);
    display:grid;
    height: 8%;
}

.yellowtxt{
    color:var(--yellow);
}

.goofymessage {
    background-color: var(--white);
    height: 84%;
}


footer {
    background-color: var(--yellow);
    height:8%;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 8% 84% 8%;
}

/* https://cssgridgarden.com/ */
/* https://css-tricks.com/snippets/css/complete-guide-grid/ */